//
// Cards
// --------------------------------------------------

.cards {
  clear: both;

  .card {
    margin-bottom: 20px;
  }

  .card img {
    overflow: hidden;
    border-radius: $border-radius-base;
    width: 100%;
  }

  .card span {
    display: block;
    padding: 0px 8px;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.8em;
  }

  .card:nth-child(1n) {
    float: left;
    margin-right: $padding;
  }
}

@media only screen and (max-width: 767px)
{
  .card {
    width: calc(100% * 1 / 2 - 15px);
  }

  .card:nth-child(2n+1) {
    clear: left;
  }

  .card:nth-child(2n) {
    margin-right: 0px !important;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px)
{
  .card {
    width: calc(100% * 1 / 3 - 20px);
  }

  .card span {
    font-size: 0.95em !important;
  }

  .card:nth-child(3n+1) {
    clear: left;
  }

  .card:nth-child(3n) {
    margin-right: 0px !important;
  }
}

@media only screen and (min-width: 1024px)
{
  .card {
    width: calc(100% * 1 / 4 - 22.5px);
  }

  .card:nth-child(4n+1) {
    clear: left;
  }

  .card:nth-child(4n) {
    margin-right: 0px !important;
  }
}