//
// Grids
// --------------------------------------------------

.grid {
  list-style-type: none;
  padding: 0px;
  overflow: auto;

  li {
    margin-bottom: $padding / 3;
  }

  li:nth-child(1n) {
    float: left;
    margin-right: $padding / 3;
  }

  .button {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 0px;
  }
}

@media only screen and (max-width: 767px)
{
  .grid {
    li {
      width: calc(100% * 1 / 2 - 5px);
    }

    li:nth-child(2n+1) {
      clear: left;
    }

    li:nth-child(2n) {
      margin-right: 0px !important;
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px)
{
  .grid {
    li {
      width: calc(100% * 1 / 3 - 6.667px);
    }

    li:nth-child(3n+1) {
      clear: left;
    }

    li:nth-child(3n) {
      margin-right: 0px !important;
    }
  }
}

@media only screen and (min-width: 1024px)
{
  .grid {
    li {
      width: calc(100% * 1 / 4 - 7.5px);
    }

    li:nth-child(4n+1) {
      clear: left;
    }

    li:nth-child(4n) {
      margin-right: 0px !important;
    }
  }
}