//
// Overview
// --------------------------------------------------

.overview {
  overflow: auto;

  img {
    width: 150px;
    float: left;
    margin-right: $padding / 2;
    margin-bottom: $padding / 2;
  }
}